@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Lexend';
}

.main{
  min-width: calc(100vw - 150px);
  display: flex;
  flex-direction: column;
  gap:1em;
}
.tbar{
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 104px;
  background-color: white;
  z-index: 1;
}

.verticalNav{
  overflow: hidden;
  position: fixed;
}

.job-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6em;
  row-gap: 2em;
  margin: 20px 150px 20px;
}




.experience,.company-filter, .minSalary{
  display: flex;
  width: 10rem;
}
.experience span, .span, .minSalary span{
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  
}
.span{
  width: 15em;
}
#span-1{
  border-right: 0px;
  border-radius: 5px 0px 0px 5px ;
}
#span-2{
  border-left: none;
  border-radius: 0px 5px 5px 0px ;
  padding-top: 5px;
}
.exp-filter-box, .company-filter, .minSalary-filterBox{
  max-width:  fit-content;
  padding: 9px;
  border: none;
  outline: none;
}


.dropdown-data{
  margin-top: 5px;
  border: 1.5px solid #e2e2e2;
  box-shadow: 1px 1px 4px rgb(199, 199, 199);
  border-radius: 5px;
  width: 11.6rem;
  height:fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  background-color: white
}
.dropdown-data div{
  width: 100%;
  padding: 5px 0px;
  padding-left: 9px;
}
.dropdown-data div:hover{
  background-color: #DEEBFF;
}

.filters{
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: calc(140px);
  margin-top: calc(80px + 2em);
  gap: 3em;
  grid-template-rows: auto;
}







@media (max-width: 1000px){
  .job-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    column-gap: 2em;
    margin: 80px 120px auto;
  }
  .filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-content: flex-start;
    margin-left: calc(140px);
    margin-top: calc(80px + 2em);
    gap: 1em;
  }
  
  
  
}

  


@media (max-width: 850px){
  .job-grid{
    display:grid;
    grid-template-columns: repeat(2, fr);
    margin: 0px 3em auto;
    column-gap: 2em;
  }

  .tbar, .tbar>div{
    width: 100%;
  }
  
  .verticalNav{
    display: none;
  }

  .tbar{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
  }

  .filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: calc(80px + 2em);
    gap: 1em;
  }
}
@media (max-width: 800px){
  .job-grid{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr;
    margin: 0px 3em auto;
    grid-template-rows: auto;
  }
  .filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin-left: 80px;
    margin-top: calc(80px + 2em);
    gap: 1em;
    

  }

}
@media (max-width: 600px){
  .job-grid{
    width: 80%;
    display:grid;
    grid-template-columns: 1fr;
    margin: 0px 3em auto;
    grid-template-rows: auto;
  }
  .filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin-left: 60px;
    margin-top: calc(80px + 2em);
    gap: 0.2em;
    

  }

  .exp-filter-box,.minSalary-filterBox{
    width: 9rem;
    padding: 9px;
    border: none;
    outline: none;
  }

  .company-filter{
    width: 12rem;
    padding: 9px;
    border: none;
    outline: none;
  }

}

