
.burger-btn{
    width: 30px;
    display: none;
}
.bars{
    width: 100%;
    height: 3px;
    margin-top: 5px;
    font-size: 19px;
    background-color: #54EFC4;
    border-radius: 5px;
}

@media (max-width:474px) {
    .burger-btn{
        display: block;
        margin-right: 20px;
    }
}